@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    font-family: Georgia, serif;
    font-size: 24px;
    letter-spacing: 2.2px;
    word-spacing: 1.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: none;  
    transition: all 0.5s ease-in-out;  
  }
.btn{
  width: fit-content;
  color:white;
  font-size: 16px;
}
.card{
  width: 600px;
  text-align: center;
  margin: auto;
}
.footer{
  text-align: center;
  margin: auto;
  color: white;
  font-size: 12px;
}
#github{
  text-decoration: none;
  color: white;
  font-size: 12px;
}